.sy_index {
  background-color: black;
  position: relative;
}

/* sy_box1 start */
.sy_box1{
    width: 100vw;
    height: 100vh;
}
.sy_box2{
  width: 100vw;
  height: 100vh;
}
.sy_box3{
  width: 100vw;
  height: 600px;
}
.sy_box4{
  width: 100vw;
  height: 100vh;
}
.sy_box5{
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.sy_box1 .sybox1_t ,
.sy_box2 .sybox2_t ,
.sy_box3 .sybox3_t ,
.sy_box5 .sybox5_t {
  height: 15vh;
  width: 100vw;
  line-height: 15vh;
  text-align: center;
  font-size: 5vh;
  color: rgb(48, 189, 245);
}
.sy_box1 .sybox1_con {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

/* sy_box1 end */



/* sy_box2 start */

.sy_box2{
    width: 100vw;
    height: 100vh;
    background-color: black;
}
.sy_box2 .sybox2_con {
  height: 95vh;
  width: 95vw;
  /* margin:  0 auto; */
  /* background-color: rgba(14,44,54, 0.7); */
  position: absolute;
  left:2.5vw;
}
/* sy_box2 end */



/* sy_box3 start */


.sy_box3 .sybox3_con {
  width: 100vw;
  height: 90vh;
  /* background-color: rgba(23, 45, 65, 0.8); */
}



/* sy_box3 end */


/* sy_box4 start */


.sy_box4 .sybox4_t {
  height: 15vh;
  width: 100vw;
  line-height: 15vh;
  text-align: center;
  font-size: 5vh;
  color: rgb(48, 189, 245);
}


/* sy_box4 end */

/* sy_box5 start */



/* sy_box5 end */