.bk_cs{
    width: 100%;
    height: 92vh;
    background-image: url('../../images/yulin/yl_bkcs2.jpg');
    background-size: 100%  100%;
    /* opacity: 0.6; */
    position: relative;
    overflow: hidden; 
    /* position: absolute; */
    margin: 0px; 
    padding: 0px; 
    /* background: #222; */
}
.bk_zw{
    width: 100%;
    height: 135vh;
    background-image: url('../../images/yulin/bk_zw.png');
    background-size: 100% 100%;
}
.bk_ly{
    width: 100%;
    height: 185vh;
    background-image: url('../../images/yulin/yl_bkcs.jpg');
    background-size: 100% 100%;
    /* opacity: 0.5; */
}

.bk_fp{
    width: 100%;
    height: 107vh;
    background-image: url('../../images/yulin/bk2.jpg');
    background-size: 100% 100%;
}
.bk_cy{
    width: 100%;
    height: 118vh;
    background-image: url('../../images/yulin/bk1.jpg');
    background-size: 100% 100%;
}
.title_text{
    text-align: center;
    font-size: 6vh;
    line-height: 15vh;
    color:  rgb(48, 189, 245);
    font-family: STXingkai;
}
.title_text:hover{
    animation: bg4_bt 1s linear 3;
}
.city_module1{
    /* background-color: aqua; */
    /* position: relative; */
    width: 100vw;
    height: 115vh;
    top: 5vh;
}
.city_module1_1{
    /* background-color:rgb(223, 233, 225); */
    width: 50vw;
    height: 100%;
    margin: 0vh 2vw;
}
.city_module1_2{
    /* background-color:rgb(255, 251, 0); */
    /* position: absolute; */
    bottom: 18vh;
    width: 40vw;
    height:100%;
    margin: 0;
}
.city_module1_11{
    /* background-color:rgb(36, 238, 76); */
    width: 50vw;
    height: 58%;
    margin: 0.5vh 0vw;
    border:0.7vw solid rgb(253, 251, 252);
}
.city_module1_12{
    background-color:rgb(245, 12, 12);
    width: 35vw;
    height: 40%;
    margin: 0.5vh 0vw;
    /* div水平居中 */
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* vertical-align: middle; */
}
.zhengwu_module1{
    background-color: rgb(241, 241, 241,0.5);
    /* opacity: 0.5; */
    width: 80%;
    height: 80vh;
    margin: 3vh auto 5vh;
    /* margin: 5vh 2.5vw 0vh 5vw; */
    overflow-y: auto;
    box-shadow:2vh 2vh 5vw rgb(122, 216, 240);
}
.zhengwu_module2{
    /* background-color: rgb(204, 204, 204); */
    width: 85%;
    height: 35vh;
    margin: auto;
    /* margin: 2.5vh 2.5vw 0vh 3vh; */
}
.zhengwu_module2_1{
    /* background-color: rgb(255, 0, 34); */
    width: 20vw;
    height: 25vh;
    margin: 0vh 0.5vw;
}
.zw_content{
    /* font-size: 2vh; */
    line-height: 4.25vh;
    font-size: 2.5vh;
    text-align: left;
    margin: 0vh 2vw;
    color: #000;
}
.zw_ctTitle{
    text-align: center;
    font-size: 4vh;
    line-height: 6vh;
    font-weight: 550;
    margin-top: 2vh;
    margin-bottom: 2vh;
}

.travel_module1{
    /* background-color: aqua; */
    width: 90vw;
    height: 85vh;
    margin: 4vh 4vw 0vh;
}
.travel_module2{
    /* background-color:rgb(9, 255, 0); */
    width: 90vw;
    height: 95vh;
    margin: 0vh 4vw;
}
#main{
    width:90%;
    height:100%;
    margin:2vh 2vw 0vh 8vw;
}
#main ul{
    list-style:none;
}
#main ul li{
    width:22%;
    height:45%;
    float:left;
    position:relative;
    margin: 0vh 0vw 0vh 2vw;
}
#main ul li img{
    border:0.3vw solid rgb(90, 88, 88);
    -webkit-transition:1s ease;
    -moz-transition:1s ease;
}
#main .info{
    width:15vw;
    height:24vh; 
    border:0.5vw solid #F5F5F5;
    background:#deddcd;
    position:absolute;
    bottom:-7vh;
    right:0;
    -webkit-transition:1s ease;-moz-transition:1s ease;
    -moz-transform:rotatey(30deg);
    -webkit-transform:rotatey(30deg);
}
#main .info h1{
    text-align:center;
    line-height:auto;
    color:#7a3f3a;
    font-weight:normal;
    font-size:3vh;
}
#main .info p{
    padding:0 1.5vh;
    font-size:2vh;
    color: #000;
    text-align: center;
}
#main .info a{
    display:block;
    width: 4vw;
    height:3.5vh;
    background:#7a3f3a;
    color:#FFF;
    border-radius:5px;
    text-decoration:none;
    text-align:center;
    line-height:30px;
    margin:0.5vh auto;
}

#main ul li:hover .info{
    -webkit-transform:rotatey(0deg);
    -moz-transform:rotatey(0deg);
    right:2vh;
    bottom:-4vh;
}
#main ul li:hover img{
    -webkit-transform:rotatey(360deg);
    -moz-transform:rotatey(360deg);
}
.chanye{
    /* background-color: #7a3f3a; */
    width: 100vw;
    height: 85vh;
    top: 5vh;
}
#content{
    margin:0 auto;
    /* background-color: rgb(182, 34, 34); */
}
.reference{
    clear:both;
    top:300px;
    left:0px;
    position:absolute;
    text-align:right;
    width:400px;
    padding:20px;
    background-color:#fff;
    -moz-box-shadow:1px 3px 15px #ddd;
    -webkit-box-shadow:1px 3px 15px #ddd;
    /* box-shadow:1px 3px 15px #ddd; */
}
.reference p a{
    text-transform:uppercase;text-shadow:1px 1px 1px #fff;
    color:#666;
    text-decoration:none;
    font-size:10px;
}
.reference p a:hover{
    color:#333;
}

/* 城市建设弹框 */
.dialog-video1{
    text-align: center;
}
.dialog-img{
    text-align: center;
}
.font-content{
    /* font-size: 2vh; */
    line-height: 3vh;
    text-align: left;
}