/*CN.css*/


/*        头部框内容样式开始   start*/

.Chinaheader_mk{
    width: 88%;
    height: 100%;
    margin: 3vh 5vw auto;
    position: absolute;
}

.Chinaheader_row1,.Chinaheader_row2{
    height: 47%;
    width: 100%;
}

.Chinaheader_col1,.Chinaheader_col2 {
    height: 100%;
    width: 50%;
    
}

.Chinaheader_col1{
    background-image: url('../images/dchina/china_mk1.png');
    background-size: 100% 100%;
}


.Chinaheader_col2{
    background-image: url('../images/dchina/china_mk2.png');
    background-size: 100% 100%;
}

.fangkuai{
    width: 100%;
    height: 8%;
    margin: 0 auto;
    padding-left: 47%;
}

.Chinaheader_col3, .Chinaheader_col4, .Chinaheader_col5,.Chinaheader_col6{
    height: 100%;
    width: 25%;
}

.Chinaheader_col3{
    background-image: url('../images/dchina/china_mk3.png');
    background-size: 100% 100%;
}

.Chinaheader_col4{
    background-image: url('../images/dchina/china_mk4.png');
    background-size: 100% 100%;
}

.Chinaheader_col5{
    background-image: url('../images/dchina/china_mk5.png');
    background-size: 100% 100%;
}

.Chinaheader_col6{
    background-image: url('../images/dchina/china_mk6.png');
    background-size: 100% 100%;
}

.Digital_TZ{
    width: 100%;
    height: 60vh;
}
.TZ_bg{
    background-image: url('../../assets/images/dchina/tz.jpg');
    width: 45%;
    height: 45vh;
    background-size: 100% 45vh;
    float: left;
    margin: 5vh auto;
}

.TZ_ct{
    float: right;
    width: 54%;
    height: 50vh;
    background-size: 100% 50vh;
}

.TZ_ct p{
    text-indent: 2em;
    font-size: 16px;
    color: rgb(65, 62, 62);
}

.Digital_JZ{
    width: 100%;
    height: 60vh;
    line-height: 2.8vh;
}

.JZ_bg{
    background-image: url('../../assets/images/dchina/jz.jpg');
    width: 45%;
    height: 46vh;
    background-size: 100% 46vh;
    float: left;
    margin: 5vh auto;
}

.JZ_ct{
    float: right;
    width: 54%;
    height: 45vh;
    background-size: 100% 45vh;
}

.JZ_ct p{
    text-indent: 2em;
    font-size: 16px;
    color: rgb(65, 62, 62);
}

.Digital_JY{
    width: 100%;
    height: 65vh;
}

.JY_bg{
    background-image: url('../../assets/images/dchina/jy.jpg');
    width: 45%;
    height: 48vh;
    background-size: 100% 48vh;
    float: left;
    margin: 5vh auto;
}

.JY_ct{
    float: right;
    width: 54%;
    height: 45vh;
    background-size: 100% 50vh;
}

.JY_ct p{
    text-indent: 2em;
    font-size: 16px;
    color: rgb(65, 62, 62);
}

.Digital_RH{
    width: 100%;
    height: 60vh;
}

.RH_bg{
    background-image: url('../../assets/images/dchina/ronghe.png');
    width: 46%;
    height: 46vh;
    background-size: 100% 46vh;
    float: left;
    margin: 5vh auto;
}

.RH_ct{
    float: right;
    width: 52%;
    height: 46vh;
    background-size: 100% 46vh;
}

.RH_ct p{
    text-indent: 2em;
    font-size: 16px;
    color: rgb(65, 62, 62);
}

.Digital_YY{
    width: 100%;
    height: 60vh;
}
.YY_bg{
    background-image: url('../../assets/images/dchina/yy.jpg');
    width: 45%;
    height: 45vh;
    background-size: 100% 45vh;
    float: left;
    margin: 8vh auto;
}

.YY_ct{
    float: right;
    width: 54%;
    height: 50vh;
    background-size: 100% 50vh;
}

.YY_ct p{
    text-indent: 2em;
    font-size: 16px;
    color: rgb(65, 62, 62);
}

/*        头部框内容样式结束   end*/




























/*数字中国样式开始 start*/


/* .CN_index{
    width: 100%;
    height: auto;
    position: relative;
} */

.CN_bg1{
    background-image: url('../images/dchina/bg2.jpg');
    position: relative;
    width: 100vw;
    background-size: 100vw 100vh;
    height: 100vh;
    margin: 0 auto;
}

.CN_bg2{
    background-image: url('../images/dchina/bg1.jpg');
    position: relative;
    width: 100vw;
    background-size: 100vw 100vh;
    height: 100vh;
    margin: 0 auto;
}

















.CN_bg3{
    background-image: url('../images/dchina/bg3.jpg');
    position: relative;
    width: 100vw;
    background-size: 100vw 100vh;
    height: 100vh;
    margin: 0 auto;
}







/*底部样式开始 start*/


.CN_bg4{
    background-image: url('../images/dchina/china_bg.png');
    position: relative;
    width: 100vw;
    background-size: 100vw 180vh;
    height: 180vh;
    margin: 0 auto;
}


/*看数字经济样式开始 start*/

.CN_video{
    position: absolute;
    width: 100%;
    /* margin:10vh auto 5vh 20vh; */
    /* left: 4vw; */
    top:10vh;
    height: 80vh;
    font-family: "微软雅黑";
}

.CN_video .video_bt{
    position: absolute;
	text-align: center;
	font-family: "微软雅黑";
	width:  100%;
	height: 5vh;
	/* right: 6vw; */
}
.CN_video .video_bt h2{
   line-height:5vh;
   font-size: 5vh;
   color: rgb(48, 189, 245);
}

.CN_video .video_bt h2:hover{
    animation: video_bt 1s linear 3;
}

 @keyframes video_bt{
    33.3%{
        font-size: 4vh;
    }
    66.6%{
        font-size: 4.5vh;
    }
    99.9%{
        font-size: 4vh;
    }
}

.cn_v{
    box-shadow:#1E90FF 0 0 30px 5px;
    border-radius: 4px;
    float: left;
    width: 20vw;
    height: 25vh;
    margin-top:10vh;
    margin-left: 10vw;
    overflow: hidden;
    -moz-transition:all 1s ease;
    -webkit-transition:all 1s ease;
    -o-transition:all 1s ease;
    -ms-transition:all 1s ease;
    transition:all 1s ease;
}
.cn_v01{
    border: 2px solid #bcb4b4;
    background:url("../../assets/images/dchina/video1.jpg")no-repeat center; 
    background-size: cover;
}
.cn_v02{
    border: 2px solid #bcb4b4;
    background:url("../../assets/images/dchina/video2.jpg") no-repeat center; 
    background-size: cover;
}
.cn_v03{
    clear: both;
    border: 2px solid #bcb4b4;
    background:url("../../assets/images/dchina/video3.jpg") no-repeat center; 
    background-size: cover;
}
.cn_v04{
    border: 2px solid #bcb4b4;
    background:url("../../assets/images/dchina/video4.jpg") no-repeat center; 
    background-size: cover;
}
.cn_v05{
    background:url("../../assets/images/dchina/video5.jpg") no-repeat center; 
    border: 2px solid #bcb4b4;
    background-size: cover;
}
.cn_v06{
    border: 2px solid #bcb4b4;
    background:url("../../assets/images/dchina/video6.jpg") no-repeat center; 
    background-size: cover;
}
.cn_v01:hover{
    -moz-transform:scale(2.6) translate(160px, 49px);
    -webkit-transform:scale(2.6) translate(160px, 49px);
    -o-transform:scale(2.6) translate(160px, 49px);
    -ms-transform:scale(2.6) translate(160px, 49px);
    transform:scale(2.6) translate(160px, 49px);
    z-index:2;
}
.cn_v06:hover{
    -moz-transform:scale(2.6) translate(0, 50px);
    -webkit-transform:scale(2.6) translate(0, 50px);
    -o-transform:scale(2.6) translate(0, 50px);
    -ms-transform:scale(2.6) translate(0, 50px);
    transform:scale(2.6) translate(0, 50px);
}
.cn_v02:hover{
    -moz-transform:scale(2.6) translate(-160px, 50px);
    -webkit-transform:scale(2.6) translate(-160px, 50px);
    -o-transform:scale(2.6) translate(-160px, 50px);
    -ms-transform:scale(2.6) translate(-160px, 50px);
    transform:scale(2.6) translate(-160px, 50px);
}
.cn_v03:hover{
    -moz-transform:scale(2.6) translate(160px, -50px);
    -webkit-transform:scale(2.6) translate(160px, -50px);
    -o-transform:scale(2.6) translate(160px, -50px);
    -ms-transform:scale(2.6) translate(160px, -50px);
    transform:scale(2.6) translate(160px, -50px);
}
.cn_v04:hover{
    -moz-transform:scale(2.6) translate(0, -38px);
    -webkit-transform:scale(2.6) translate(0, -50px);
    -o-transform:scale(2.6) translate(0, -38px);
    -ms-transform:scale(2.6) translate(0, -50px);
    transform:scale(2.6) translate(0, -50px);
}
.cn_v05:hover{
    -moz-transform:scale(2.6) translate(-160px, -50px);
    -webkit-transform:scale(2.6) translate(-160px, -50px);
    -o-transform:scale(2.6) translate(-160px, -50px);
    -ms-transform:scale(2.6) translate(-160px, -50px);
    transform:scale(2.6) translate(-160px, -50px);
}



/*看数字经济样式结束 end*/







/*案例样式开始 start*/

.CN_bg4 .bg4_bk1{
    background-image: url('../images/dchina/china_bk1.png');
    width: 100%;
    margin: 0 auto;
    background-size: 100% 100vh;
    position: absolute;
    height:100vh;
}
.CN_bg4 .bg4_footer{
    width: 100%;
    background-size: 100% 68vh;
    position: relative;
    height: 68vh;
    margin: 0 auto;
    top:100vh;
}

.CN_yuan{
    position: absolute;
    width: 100%;
    height: 20vh;
}

.CN_yuan1{
    position: relative;
    background-image: url('../images/dchina/yuan.png');
    width: 10vw;
    height: 20vh;
    float: left;
    background-size: 100% 100%;
    background-position: center center;
    box-shadow:#1E90FF 0 0 30px 5px;
    border-radius: 50%;
    transform: rotate(0deg);
    animation: yuan1 5s linear infinite;
}
@keyframes yuan1{
        from{
        transform: rotate(0deg);
        }
        to{
        transform: rotate(-360deg);
        }
        }

.CN_yuan2{
    position: relative;
    background-image: url('../images/dchina/yuan.png');
    width: 10vw;
    height: 20vh;
    float: right;
    margin-right: 2vh;
    margin-top: 10vh;
    background-size: 100% 100%;
    background-position: center center;
    box-shadow:#1E90FF 0 0 30px 5px;
    border-radius: 50%;
    transform: rotate(0deg);
    animation: yuan2 5s linear infinite;
}
@keyframes yuan2{
        from{
        transform: rotate(0deg);
        }
        to{
        transform: rotate(360deg);
        }
        }


.CN_bg4 .bg4_bk2{
    background-image: url('../images/dchina/china_bk2.png');
    position: absolute;
    float: left;
    width: 52vw;
    background-size: 52vw 80vh;
    height: 80vh;
}

.CN_bg4 .bg4_bk3{
    background-image: url('../images/dchina/china_bk3.png');
    position: absolute;
    left: 52vw;
    width: 50vw;
    top:12vh;
    background-size: 50vw 68vh;
    height: 68vh;
}

.bg4_bk2 .footer_left{
    position: absolute;
    height: 65vh;
    width: 91%;
    top:12vh;
    left: 5vh;
}

.bg4_bk2 .left_ct{
    width: 100%;
    height: 22vh;
}

.left_ct h3{
    font-size: 3.5vh;
    color: rgb(48, 189, 245);
    width: 30vw;
    height: 2%;
}

.left_ct p{
    font-size: 2.5vh;
    margin-top: 8vh;
    text-indent: 2em;
}

.left_ct h3:hover{
    animation: left_bt 1s linear 3;
 }

 @keyframes left_bt{
    33.3%{
        font-size: 4vh;
    }
    66.6%{
        font-size: 4.5vh;
    }
    99.9%{
        font-size: 4vh;
    }
}

.left_img{
    width: 100%;
    height: 50%;
}

.left_img p{
    width: 50%;
    height: 30%;
    float: left;
    font-size: 2.5vh;
    text-indent: 2em;
}

.nanjing_img{
    background-image: url('../images/dchina/nanjing.png');
    width:48%;
    float: right;
    height: 90%;
    margin-right: 1vh;
    background-size: cover;
}

.bg4_bk3 .footer_right{
    position: absolute;
    height: 50vh;
    width: 82%;
    top:12vh;
    left: 4vw;
}

.bg4_bk2 .right_ct{
    width: 100%;
    height: auto;
}

.right_ct h3{
    font-size: 3.5vh;
    color: rgb(48, 189, 245);
    width: 30vw;
    height: 1vh;
    margin-left: 8vw;
}

.right_ct p{
    font-size: 2.5vh;
    margin-top: 5vh;
    text-indent: 2em;
}

.right h3:hover{
    animation: right_bt 1s linear 3;
 }

 @keyframes right_bt{
    33.3%{
        font-size: 4vh;
    }
    66.6%{
        font-size: 4.5vh;
    }
    99.9%{
        font-size: 4vh;
    }
}

.right_img{
    width: 100%;
    height: 50%;
}

.right_img p{
    width: 58%;
    height: 30%;
    float: right;
    font-size: 2.5vh;
    text-indent: 2em;
}


.zhizao_img{
    background-image: url('../images/dchina/zhizao.png');
    width:40%;
    float: left;
    height: 25vh;
    margin-left: 1vh;
    background-size: 100% 100%;
}

/*案例底部样式结束 end*/

/*底部样式结束 end*/



/*数字中国样式结束 end*/