/* box1 */
.ysblockjs{
    background-image: url(../../assets/images/ysblock/background1.jpg);
    background-size: 100% 100%;
    height: 120vh;
    filter:brightness(90%);
}
.title_js{
    height: 15vh;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    font-size: 6vh;
    font-family: STXingkai;
    line-height:11vh;
   color: rgb(48, 189, 245);
    bottom: 0;
}

.title_js:hover{
    animation: title_js 1s linear 3;
}

 @keyframes title_js{
    33.3%{
        font-size: 4vh;
    }
    66.6%{
        font-size: 4.5vh;
    }
    99.9%{
        font-size: 4vh;
    }
}


.box1_js{
    width: 25%;
    height: 28vh;
    margin-left: 10%;
    float: left;
    border: 2px  ridge #777;
    -webkit-box-shadow:0px 0px 30px #111;    
  	cursor: pointer;
    position: relative;
    overflow: hidden;
    display:inline-block;
}

.img1_js{
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    transition: all 0.5s ease 0s;
    display: inline;
}
.box1_js:before,.box2_js:before,.box3_js:before{
    height:100%;
    width:100%;
    background-color: rgba(0, 0, 0, 0.3);
    position:absolute;
    content: " ";
    z-index: 2;
}

.box1_js:hover .img1_js{
    transform: scale(1.1);
}
.img2_js{
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    transition: all 0.5s ease 0s;
    display: inline;
}
.box2_js:hover .img2_js{
    transform: scale(1.1);
}
.img3_js{
    height: 100%;
    width: 100%;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    position: relative;
    transition: all 0.5s ease 0s;
    display: inline;
}
.box3_js:hover .img3_js{
    transform: scale(1.1);
}
.box2_js{
    width: 25%;
    height: 28vh;
    margin-left: 2.5%;
    border: 1px solid red;
    float: left;
    border: 2px  ridge #777;
    -webkit-box-shadow:0px 0px 30px #111;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.box3_js{
    width: 25%;
    height: 28vh;
    margin-right: 10%;
    border: 1px solid red;
    float: right;
    border: 2px  ridge #777;
    -webkit-box-shadow:0px 0px 30px #111;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
.text1_js{
    width: 80%;
    height: 60vh;
    margin-left: 10%;
    opacity: 0.8;
    background: #ccc;
    margin-top: 35vh;
    padding: 2vh 6%;
}
.title1_js{
    color: black;
    font-size: 4vh;
    text-align: center;
    border-bottom: 1px dashed black;
    line-height: 5vh;  
}
.text2_js{
    font-size: 2.5vh;
    color: black;
    line-height: 4vh;
    opacity: 1;
    text-align: justify;
}


/* box2 */
.ysblockfazj{
    background-image: url(../../assets/images/ysblock/background3.jpg);
    background-size:cover;
    height: 140vh;
    filter:brightness(80%);
    /* margin-left: -10%; */
}
.box_img1{
    width: 100%;
    height: 30vh;
    margin-top: 50vh;
}
.boxs1_zj{
    width:19%;
    height: 30vh;
    margin-left: 20%;
    float: left;
    background-color: rgba(255, 255, 255, 1);
    -weikit-transform-origin:center; 
	-moz-transform-origin:center;
	-o-transform-origin:center;
	-ms-transform-origin:center;
	transform-origin:center;
	transform:rotate(10deg);
	-webkit-transform:rotate(10deg);
	-moz-transform:rotate(10deg);
	-o-transform:rotate(10deg);
	-ms-transform:rotate(10deg);
	position: relative;
	transition: transform 0.3s ease-in;
    box-shadow:.2em .2em .8em #130c0e;
    padding: 1vh 1vh;
    filter:brightness(70%);
    color: rgb(33, 10, 114);
}
.img1_text_zj{
    text-align: center;
    font-size: 2.5vh;
    margin-top: 1vh;
}
.boxs2_zj{
    width:19%;
    height: 30vh;
    margin-left: 1.5%;
    float: left;
    background-color: rgba(255, 255, 255, 1);
    -weikit-transform-origin:center; 
	-moz-transform-origin:center;
	-o-transform-origin:center;
	-ms-transform-origin:center;
	transform-origin:center;
	transform:rotate(0deg);
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	position: relative;
	transition: transform 0.3s ease-in;
    box-shadow:.2em .2em .8em #130c0e;
    padding: 1vh 1vh;
    filter:brightness(70%);
    color:rgb(209, 52, 4);
}
.boxs3_zj{
    width:19%;
    height: 30vh;
    margin-right: 20%;
    float: right;
    background-color: rgba(255, 255, 255, 1);
    -weikit-transform-origin:center; 
	-moz-transform-origin:center;
	-o-transform-origin:center;
	-ms-transform-origin:center;
	transform-origin:center;
	transform:rotate(-10deg);
	-webkit-transform:rotate(-10deg);
	-moz-transform:rotate(-10deg);
	-o-transform:rotate(-10deg);
	-ms-transform:rotate(-10deg);
	position: relative;
	transition: transform 0.3s ease-in;
    box-shadow:.2em .2em .8em #130c0e;
    padding: 1vh 1vh;
    filter:brightness(70%);
    color: rgb(78, 6, 173);
}
.box_img2{
    width: 100%;
    height: 30vh;
    /* margin-top: 6vh; */
}
.boxs4_zj{
    width:19%;
    height: 30vh;
    margin-left: 10%;
    float: left;
    background-color: rgba(255, 255, 255, 1);
    -weikit-transform-origin:center; 
	-moz-transform-origin:center;
	-o-transform-origin:center;
	-ms-transform-origin:center;
	transform-origin:center;
	transform:rotate(9deg);
	-webkit-transform:rotate(9deg);
	-moz-transform:rotate(9deg);
	-o-transform:rotate(9deg);
	-ms-transform:rotate(9deg);
	position: relative;
	transition: transform 0.3s ease-in;
    box-shadow:.2em .2em .8em #130c0e;
    padding: 1vh 1vh;
    filter:brightness(70%);
    color: rgb(14, 92, 7);
}
.boxs5_zj{
    width:19%;
    height: 30vh;
    margin-left: 1.33%;
    float: left;
    background-color: rgba(255, 255, 255, 1);
    -weikit-transform-origin:center; 
	-moz-transform-origin:center;
	-o-transform-origin:center;
	-ms-transform-origin:center;
	transform-origin:center;
	transform:rotate(13deg);
	-webkit-transform:rotate(13deg);
	-moz-transform:rotate(13deg);
	-o-transform:rotate(13deg);
	-ms-transform:rotate(13deg);
	position: relative;
	transition: transform 0.3s ease-in;
    box-shadow:.2em .2em .8em #130c0e;
    padding: 1vh 1vh;
    filter:brightness(70%);
    color: rgb(71, 4, 110);
}
.boxs6_zj{
    width:19%;
    height: 30vh;
    margin-left: 1.33%;
    float: left;
    background-color: rgba(255, 255, 255, 1);
    -weikit-transform-origin:center; 
	-moz-transform-origin:center;
	-o-transform-origin:center;
	-ms-transform-origin:center;
	transform-origin:center;
	transform:rotate(-17deg);
	-webkit-transform:rotate(-17deg);
	-moz-transform:rotate(-17deg);
	-o-transform:rotate(-17deg);
	-ms-transform:rotate(-17deg);
	position: relative;
	transition: transform 0.3s ease-in;
    box-shadow:.2em .2em .8em #130c0e;
    padding: 1vh 1vh;
    filter:brightness(70%);
    color: rgb(4, 45, 73);
}
.boxs7_zj{
    width:19%;
    height: 30vh;
    margin-left: 1.33%;
    float: right;
    margin-right: 10%;
    background-color: rgba(255, 255, 255, 1);
    -weikit-transform-origin:center; 
	-moz-transform-origin:center;
	-o-transform-origin:center;
	-ms-transform-origin:center;
	transform-origin:center;
	transform:rotate(-21deg);
	-webkit-transform:rotate(-21deg);
	-moz-transform:rotate(-21deg);
	-o-transform:rotate(-21deg);
	-ms-transform:rotate(-21deg);
	position: relative;
	transition: transform 0.3s ease-in;
    box-shadow:.2em .2em .8em #130c0e;
    padding: 1vh 1vh;
    filter:brightness(70%);
    color: rgb(206, 14, 132);
}
.boxs1_zj:hover,.boxs2_zj:hover,.boxs3_zj:hover,.boxs4_zj:hover,.boxs5_zj:hover,.boxs6_zj:hover,.boxs7_zj:hover{
    transform:rotate(0deg); /*以右下角为基准点顺时针旋转10°*/
	-webkit-transform:rotate(0deg);
	-moz-transform:rotate(0deg);
	-o-transform:rotate(0deg);
	-ms-transform:rotate(0deg);
    z-index: 5;
}

/* .box_img{
    width: 80%;
    height: 77vh;
    margin-left: 10%;
    margin-top:45vh;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1vh 1vh;
}
.img1_zj{
    height: 50vh;
    width: 49%;
    float: left;
    border: 2px  ridge #777;
}
.img2_zj{
    height: 25vh;
    width: 25%;
    float: right;
    margin-left: 0.5%;
    border: 2px  ridge #777;
}
.img3_zj{
    height: 25vh;
    width: 25%;
    float: right;
    border: 2px  ridge #777;
}
.img4_zj{
    height: 24.4vh;
    width: 50.5%;
    float: right;
    margin-top: 0.7vh;
    border: 2px  ridge #777;
}
.img5_zj{
    height: 24.3vh;
    width: 24.25%;
    float: left;
    margin-top: 0.7vh;
    border: 2px  ridge #777;
}
.img6_zj{
    height: 24.3vh;
    width: 24.25%;
    float: left;
    margin-left:0.5%; 
    margin-top: 0.7vh;
    border: 2px  ridge #777;
}
.img7_zj{
    height: 24.3vh;
    width: 50.5%;
    float: right;
    margin-top: 0.7vh;
    border: 2px  ridge #777;
} */



.title1_zj{
    height: 15vh;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    font-size: 6vh;
    font-family: STXingkai;
    color: rgb(51, 135, 214);
    bottom: 0;
    line-height: 11vh;
}

.title1_zj:hover{
    animation: title1_zj 1s linear 3;
}

 @keyframes title1_zj{
    33.3%{
        font-size: 4vh;
    }
    66.6%{
        font-size: 4.5vh;
    }
    99.9%{
        font-size: 4vh;
    }
}

.box0_zj{
    width: 3%;
    height: 20vh;
    float: left;
    margin-left:8%;
    border-bottom: 1.5vh solid rgb(33, 10, 114);
}

.box1_zj{
    width: 11%;
    height: 20vh;
    float: left;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1.5vh solid rgb(33, 10, 114);
    color: rgb(33, 10, 114);
    padding: 2vh 1%;
    font-size: 2.5vh;
}
.box2_zj{
    width: 11%;
    height: 20vh;
    float: left;
    margin-top: 18.5vh;
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 1.5vh solid rgb(209, 52, 4);
    padding: 2vh 1%;
    color:rgb(209, 52, 4);
    
}
.box3_zj{
    width: 11%;
    height: 20vh;
    float: left;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1.5vh solid rgb(78, 6, 173);
    padding: 2vh 1%;
    font-size: 2.5vh;
    color: rgb(78, 6, 173);
}
.box4_zj{
    width: 11%;
    height: 20vh;
    float: left;
    margin-top: 18.5vh;
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 1.5vh solid rgb(14, 92, 7);
    padding: 2vh 1%;
    font-size: 2.5vh;
    color: rgb(14, 92, 7);
}
.box5_zj{
    width: 11%;
    height: 20vh;
    float: left;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1.5vh solid rgb(71, 4, 110);
    padding: 2vh 1%;
    font-size: 2.5vh;
    color: rgb(71, 4, 110);
}
.box6_zj{
    width: 11%;
    height: 20vh;
    float: left;
    margin-top: 18.5vh;
    background-color: rgba(255, 255, 255, 0.7);
    border-top: 1.5vh solid  rgb(4, 45, 73);
    padding: 2vh 1%;
    font-size: 2.5vh;
    color: rgb(4, 45, 73);
}
.box7_zj{
    width: 11%;
    height: 20vh;
    float: left;
    background-color: rgba(255, 255, 255, 0.7);
    border-bottom: 1.5vh solid rgb(206, 14, 132);
    padding: 2vh 1%;
    font-size: 2.5vh;
    color: rgb(206, 14, 132);
}
.box8_zj{
    width: 3%;
    height: 20vh;
    float: left;
    border-bottom: 1.5vh solid rgb(206, 14, 132);
}
.box9_zj{
    width: 1%;
    border-left:  1.8vh solid rgb(206, 14, 132);;
    border-top: 1.8vh solid transparent;
    border-bottom: 1.8vh solid transparent;
    float: right;
    margin-right: 8%;
    margin-top: 17.4vh;
}
.text1_zj{
    font-size: 2.1vh;
    text-align: justify;
}
.text7_zj{
    font-size: 2.1vh;
    text-align: justify;
}
.text_1_zj{
    text-align: center;
    bottom: 0px;
    margin-top: 4vh;
    font-size: 2.5vh;
}
.text_2_zj{
    text-align: center;
    bottom: 0px;
    font-size: 2.5vh;
}
.text_3_zj{
    text-align: center;
    margin-top: 1vh;
    font-size: 2.5vh;
}
.text_7_zj{
    text-align: center;
    font-size: 2.5vh;
    margin-top: 7vh
}


/* box3 */
.ysblockxq{
    background-image: url(../../assets/images/ysblock/background6.jpg);
    background-size: cover;
    height: 150vh;
    filter:brightness(80%);
}
.zindex{
    position: relative;
    z-index: 2;
}
.title_xq{
    height: 15vh;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    font-size: 6vh;
    font-family: STXingkai;
    color: rgb(51, 135, 214);
    bottom: 0;
    line-height: 11vh;
}

.title_xq:hover{
    animation: title_xq 1s linear 3;
}

 @keyframes title_xq{
    33.3%{
        font-size: 4vh;
    }
    66.6%{
        font-size: 4.5vh;
    }
    99.9%{
        font-size: 4vh;
    }
}


.box1_xq{
    height: 58vh;
    width: 35%;
    /* background-color: rgba(255, 255, 255, 0.6); */
    margin-left: 10%;
    position: relative;
    float: left;
    z-index: 3;
}
.img1_1_xq{
    height: 35vh;
    width: 90%;
    z-index: 1;
    position: absolute;
    border: 2px double #ccc;
    box-shadow: 5px 3px 3px #111;
    filter:brightness(90%);
}
.img1_2_xq{
    height: 30vh;
    width: 75%;
    bottom: 0;
    right: 0;
    z-index: 2;
    position:absolute;
    border: 3px double #ccc;
    box-shadow: 5px 3px 3px #111;
    filter:brightness(90%);
}
.text1_xq{
    height: 40vh;
    width: 38%;
    margin-right: 10%;
    float: right;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 9vh;
    padding: 2vh 3%;
    z-index: 3;
    position: relative;
}
.title1_1_xq{
    text-align: center;
    font-size: 4vh;
}
.text1_1_xq{
    font-size: 2.5vh;
    line-height: 4vh;
    padding: 1vh 0;
    text-align: justify;
}
.box2_xq{
    margin-top: 15vh;
    height: 58vh;
    width: 35%;
    /* background-color: rgba(255, 255, 255, 0.6); */
    margin-right: 10%;
    position: relative;
    float: right;
    z-index: 3;
}
.img2_1_xq{
    height: 35vh;
    width: 90%;
    right: 0;
    z-index: 1;
    position: absolute;
    border: 2px double #ccc;
    box-shadow: -5px 3px 3px #111;
    filter:brightness(90%);
}
.img2_2_xq{
    height: 30vh;
    width: 75%;
    bottom: 0;
    left: 0;
    z-index: 2;
    position:absolute;
    border: 3px double #ccc;
    box-shadow: -5px 3px 3px #111;
    filter:brightness(90%);
    text-align: justify;
}
.text2_xq{
    height: 45vh;
    width: 38%;
    margin-left: 10%;
    float: left;
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 13vh;
    padding: 2vh 3%;
    z-index: 3;
    position: relative;

}
.title1_2_xq{
    text-align: center;
    font-size: 4vh;
}
.text1_2_xq{
    font-size: 2.5vh;
    line-height: 4vh;
    padding: 1vh 0;
    text-align: justify;
}


/* box4 */
.ysblockxw{
    background-image: url(../../assets/images/ysblock/background4.jpg);
    background-size: cover;
    height: 100vh;
    width: 100%;
}
.title_xw{
    height: 15vh;
    width: 40%;
    margin-left: 30%;
    text-align: center;
    font-size: 6vh;
    font-family: STXingkai;
    color: rgb(51, 135, 214);
    bottom: 0;
    line-height: 11vh;
}

.title_xw:hover{
    animation: title_xw 1s linear 3;
}

 @keyframes title_xw{
    33.3%{
        font-size: 4vh;
    }
    66.6%{
        font-size: 4.5vh;
    }
    99.9%{
        font-size: 4vh;
    }
}



.one_ys{
    width: 60%;
    background-image: url(../../assets/images/ysblock/block.png);
    background-size: 100% 100%;
    border: 2px solid transparent;
    height: 60vh;
    margin-left: 4%;
    margin-top: 4vh
}
.tow_ys{
    width: 30%;
    height: 100%;
}
.box1_ys{
    height: 82%;
    width: 72%;
    text-align: center;
    margin-top: 3.8vh;
    margin-left: 15%;
    /* border: 1px solid red; */
}
.ys1_ys{
    height: 60%;
    width: 62%;
    float: left;
}
.img1_ys{
    height: 100%;
    width: 100%;
    float: left;
    -webkit-transform:scale(1);
    -webkit-transition-duration: 0.5s;
    z-index: 1;
    position: relative;
    filter:brightness(70%);
}
.text1_ys{
    color: white;
    margin-left: 196.5%;
    margin-top: 3vh;
    height: 8%;
    width: 79%;
    -webkit-transform:scale(1);
    -webkit-transition-duration: 0.5s;
    font-size: 2.5vh;
    filter:brightness(90%);
}
.line1_ys{
    background-image: url(../../assets/images/ysblock/line1.png);
    background-size: 100% 100%;
    height: 22%;
    width: 100%;
    margin-left: 180%;
    margin-top: -1.2vh;
}
.ys2_ys{
    height: 29.5%;
    width: 37%;
    float: right;
}
.img2_ys{
    height: 100%;
    width: 100%;
    float: right;
    -webkit-transform:scale(1);
    -webkit-transition-duration: 0.5s;
    z-index: 1;
    position: relative;
    filter:brightness(70%);
}
.text2_ys{
    position: absolute;
    color: white;
    margin-left: 25%;
    float: left;
    margin-top: 12vh;
    height: 8%;
    width: 22%;
    -webkit-transform:scale(1);
    -webkit-transition-duration: 0.5s;
    font-size: 2.5vh;
    filter:brightness(90%);
}
.line2_ys{
    background-image: url(../../assets/images/ysblock/line1.png);
    background-size: 100% 100%;
    height: 45%;
    width: 168%;
    margin-left: 131%;
    margin-top: 13vh;
}
.ys3_ys{
    height: 29.5%;
    width: 37%;
    float: right;
    margin-top:0.8%;
    z-index: 2;
}
.img3_ys{
    height: 100%;
    width: 100%;
    float: right;
    -webkit-transform:scale(1);
    -webkit-transition-duration: 0.5s;
    z-index: 1;
    position: relative;
    filter:brightness(70%);

}
.text3_ys{
    position: absolute;
    color: white;
    margin-left: 25.3%;
    float: left;
    margin-top: 6vh;
    height: 8%;
    width: 21%;
    -webkit-transform:scale(1);
    -webkit-transition-duration: 0.5s;
    font-size: 2.5vh;
    filter:brightness(90%);
}
.line3_ys{
    background-image: url(../../assets/images/ysblock/line1.png);
    background-size: 100% 100%;
    height: 44%;
    width: 168%;
    margin-left: 131.3%;
    margin-top: 7vh;
}
.ys4_ys{
    height: 39%;
    width: 49.5%;
    float: left;
    margin-top: 1%;
}
.img4_ys{
    height: 100%;
    width: 100%;
    float: left;
    -webkit-transform:scale(1);
    -webkit-transition-duration: 0.5s;
    z-index: 1;
    position: relative;
    filter:brightness(70%);
}
.text4_ys{
    position: absolute;
    color: white;
    margin-left: 52.5%;
    float: left;
    margin-top: 0vh;
    height: 8%;
    width: 21%;
    -webkit-transform:scale(1);
    -webkit-transition-duration: 0.5s;
    font-size: 2.5vh;
    filter:brightness(90%);
}
.line4_ys{
    background-image: url(../../assets/images/ysblock/line1.png);
    background-size: 100% 100%;
    height: 33%;
    width: 126%;
    margin-left: 225.5%;
    margin-top: 1vh;
}
.ys5_ys{
    height: 39%;
    width: 49.5%;
    float: right;
    margin-top: 1%;
}
.img5_ys{
    height: 100%;
    width: 100%;
    float: right;
    -webkit-transform:scale(1);
    -webkit-transition-duration: 0.5s;
    z-index: 1;
    position: relative;
    filter:brightness(70%);
}
.text5_ys{
    color: white;
    margin-left: 143.2%;
    float: left;
    margin-top: -10vh;
    height: 5vh;
    width: 100%;
    -webkit-transform:scale(1);
    -webkit-transition-duration: 0.5s;
    font-size: 2.5vh;
    filter:brightness(90%);
}
.line5_ys{
    background-image: url(../../assets/images/ysblock/line1.png);
    background-size: 100% 100%;
    height: 33%;
    width: 127%;
    margin-left: 123.3%;
    margin-top: 10vh;
}
.img1_ys:hover,.img2_ys:hover,.img3_ys:hover.img4_ys:hover.img5_ys:hover{
    border: 2px solid white;
    -webkit-transform:scale(1.2);
	-webkit-box-shadow:0px 0px 30px #ccc;
    z-index: 4;
    position: relative;
}
.ys1_ys:hover .text1_ys{
    color: rgb(51, 135, 214);;
    -webkit-transform:scale(1.1);
}
.ys1_ys:hover .img1_ys{
    border: 2px solid white;
    -webkit-transform:scale(1.2);
	-webkit-box-shadow:0px 0px 30px #ccc;
    z-index: 2;
}
.ys2_ys:hover .text2_ys{
    color: rgb(51, 135, 214);
    -webkit-transform:scale(1.1);
}
.ys2_ys:hover .img2_ys{
    border: 2px solid white;
    -webkit-transform:scale(1.2);
	-webkit-box-shadow:0px 0px 30px #ccc;
    z-index: 2;
}
.ys3_ys:hover .text3_ys{
    color: rgb(51, 135, 214);
    -webkit-transform:scale(1.1);
}
.ys3_ys:hover .img3_ys{
    border: 2px solid white;
    -webkit-transform:scale(1.2);
	-webkit-box-shadow:0px 0px 30px #ccc;
    z-index: 2;
}
.ys4_ys:hover .text4_ys{
    color: rgb(51, 135, 214);
    -webkit-transform:scale(1.1);
}
.ys4_ys:hover .img4_ys{
    border: 2px solid white;
    -webkit-transform:scale(1.2);
	-webkit-box-shadow:0px 0px 30px #ccc;
    z-index: 2;
}
.ys5_ys:hover .text5_ys{
    color: rgb(51, 135, 214);
    -webkit-transform:scale(1.1);
}
.ys5_ys:hover .img5_ys{
    border: 2px solid white;
    -webkit-transform:scale(1.2);
	-webkit-box-shadow:0px 0px 30px #ccc;
    z-index: 2;
}


/* box5 */
.back_ys{
    background-image: url(../../assets/images/ysblock/background1.png);
    background-size: 100% 100%;
    height: 100vh;

}
.titel2_ys{
    height: 8vh;
    width: 40%;
    font-size: 6vh;
    margin-left: 30%;
    font-family: STXingkai;
    color: rgb(51, 135, 214);
    text-align: center;
    /* border: 1px solid red; */
}

.titel2_ys:hover{
    animation: titel2_ys 1s linear 3;
}

 @keyframes titel2_ys{
    33.3%{
        font-size: 4vh;
    }
    66.6%{
        font-size: 4.5vh;
    }
    99.9%{
        font-size: 4vh;
    }
}



.title1_scope{
    text-align: center;
}
.img1_scope_1{
    margin-left: 3%;
    height:27vh
}
.img1_scope_2{
    margin-right: 3%;
    height:27vh;
    float: right;
}
.img2_scope{
    margin-left: 10%;
    height:50vh;
}

.img6_ys:hover,.img7_ys:hover,.img8_ys:hover,.img9_ys:hover,.img10_ys:hover,.img11_ys:hover,.img12_ys:hover,.img13_ys:hover{
    border: 2px solid white;
    -webkit-transform:scale(1.3);
	-webkit-box-shadow:0px 0px 30px #ccc;
    z-index: 3;
}
.six:hover{
    /* border: 2px solid #777; */
    -webkit-transform:scale(1.3);
	-webkit-box-shadow:0px 0px 30px #111;
    z-index: 3;
}
.six{
    -webkit-transform:scale(1);
    -webkit-transition-duration: 0.5s;
}
.img6_ys,.img7_ys,.img8_ys,.img9_ys,.img10_ys,.img11_ys,.img12_ys,.img13_ys{
    -webkit-transform:scale(1);
    -webkit-transition-duration: 0.5s;
    width:45vh;
    height: 30vh;
    position: absolute;
    filter:brightness(70%);
}


.text6_ys,.text7_ys,.text8_ys,.text9_ys,.text10_ys,.text11_ys,.text12_ys,.text13_ys{
    position: relative;
    z-index: 3;
    top: 20vh;
    text-align: center;
    color: white;
    -webkit-transform:scale(1);
    -webkit-transition-duration: 0.5s;
    transition: opacity 0.7s ease-in;
    opacity: 1;
    font-size: 2.5vh;
}
/* .ys6_ys:hover .text6_ys,.ys7_ys:hover .text7_ys,.ys8_ys:hover .text8_ys,.ys9_ys:hover .text9_ys,.ys10_ys:hover .text10_ys,.ys11_ys:hover .text11_ys,.ys12_ys:hover .text12_ys,.ys13_ys:hover .text13_ys{
    -webkit-transform:scale(1.2);
    opacity: 0;
    z-index: 0;
} */

.img_6_ys,.img_7_ys,.img_8_ys,.img_9_ys,.img_10_ys,.img_11_ys,.img_12_ys,.img_13_ys{
    position: relative;
    z-index: 3;
    transition: opacity 0.7s ease-in;
    opacity: 0;
    font-size: 2vh;
    color:rgb(51, 135, 214);
    text-align: center;
    line-height: 10vh;
}
.ys6_ys:hover .img_6_ys,.ys7_ys:hover .img_7_ys,.ys8_ys:hover .img_8_ys,.ys9_ys:hover .img_9_ys,.ys10_ys:hover .img_10_ys,.ys11_ys:hover .img_11_ys,.ys12_ys:hover .img_12_ys,.ys13_ys:hover .img_13_ys{
    opacity: 1;     
}
.text_all_ys{
    height: 60%;
    width: 80%;
    margin-left: 10%;
    margin-top: 2.5vh
}
@keyframes fn{
    0% {transform:rotateX(-6deg) rotateY(0deg);}
    100%{transform:rotateX(-6deg) rotateY(360deg);}
}
.box_ys{				
    width:45vh;
    height:30vh;
    position:relative;
    margin:auto;
    transform-style:preserve-3d;
    transform:rotateX(-10deg);
    animation: fn 15s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    /* animation-delay: 10s; */
}
.box_ys:hover{
    animation-play-state: paused;
}
.box_ys>div{
    width:45vh;
    height:30vh;
    position: absolute;
    left:0;
    top:20vh;
}
.fadeInUpBig{
    animation: fadeInUpBig 1s;
}
.rollIn{
    animation: rollIn 1s;
}
.slideInRight{
    animation: slideInRight 1s;
}
.bounceInLeft{
    animation: bounceInLeft 2s ease-in;
}
.bounceInRight{
    animation: zoomIn 2s ease-in;
}
.fadeInDown{
    animation: fadeInDown 2s ease-in;
}
