.digital_bg{
    background-image: url('../images/dchina/china_bg.png');
    position: relative;
    width: 100vw;
    background-size: 100vw 180vh;
    height: 180vh;
    margin: 0 auto;
}
.digital_bk1{
    background-image: url('../images/dchina/china_bk1.png');
    width: 100%;
    margin: 0 auto;
    background-size: 100% 100vh;
    position: absolute;
    height:100vh;
}
.digital_footer{
    width: 100%;
    background-size: 100% 68vh;
    position: relative;
    height: 68vh;
    margin: 0 auto;
    top:100vh;
}
.digital_bk2{
    background-image: url('../images/dchina/china_bk2.png');
    position: absolute;
    float: left;
    width: 52vw;
    /* margin: 10vh auto; */
    background-size: 52vw 80vh;
    height: 80vh;
}

.footer_left{
    position: relative;
    height: 100%;
    width: 95%;
}

.left_ct{
    position: absolute;
    margin: 13vh 0 0 5vh;
    width: 95%;
    height: 50%;
}

.left_ct h3{
    font-size: 28px;
    color: rgb(48, 189, 245);
    width: 60%;
    height: 5%;
}

.left_ct h3:hover{
    animation: right_biaoti 1s linear 3;
 }

 @keyframes right_biaoti{
    33.3%{
        font-size: 4vh;
    }
    66.6%{
        font-size: 4.5vh;
    }
    99.9%{
        font-size: 4vh;
    }
}

.left_ct p{
    font-size: 20px;
    margin: 6vh auto;
    text-indent: 2em;
}

.left_img{
    position: absolute;
    margin: 35vh 0 0 5vh;
    width: 100%;
    height: 50%;
}

.left_img p{
    width: 52%;
    height: 30%;
    float: left;
    font-size: 20px;
    text-indent: 2em;
}

.nanjing_img{
    background-image: url('../images/dchina/nanjing.png');
    width:42%;
    float: right;
    height: 90%;
    margin-right:5vh; 
    background-size: 100% 100%;
}

.digital_bk3{
    background-image: url('../images/dchina/china_bk3.png');
    position: relative;
    float: right;
    width: 48vw;
    margin: 12vh 0 0 0;
    background-size: 48vw 68vh;
    height: 68vh;
}

.footer_right{
    position: absolute;
    height: 100%;
    width: 100%;
}

.right_ct{
    position: absolute;
    margin-top: 12vh;
}

.right_ct h3{
    margin-left:20vh;
    font-size: 28px;
    width: 60%;
    height: 5%;
    color: rgb(48, 189, 245);
}

.right_ct h3:hover{
    animation: right_biaoti 1s linear 3;
 }

 @keyframes right_biaoti{
    33.3%{
        font-size: 4vh;
    }
    66.6%{
        font-size: 4.5vh;
    }
    99.9%{
        font-size: 4vh;
    }
}

.right_ct p{
    font-size: 20px;
    margin: 1vh auto;
    text-indent: 2em;
    width: 80%;
    height: 50%;
}

.right_img{
    position: absolute;
    margin: 34vh 0 0 8vh;
    width: 100%;
    height: 50%;
}

.right_img p{
    width: 45%;
    float: right;
    margin-right: 17vh;
    font-size: 20px;
    text-indent: 2em;
}

.zhizao_img{
    background-image: url('../images/dchina/zhizao.png');
    width:35%;
    float: left;
    height: 20vh;
    margin-left: 1vh;
    background-size: 100% 20vh;
}

.Chinaheader_mk{
    width: 88%;
    height: 100%;
    margin: 3vh 5vw auto;
    position: absolute;
}

.Chinaheader_row1,.Chinaheader_row2{
    height: 47%;
    width: 100%;
}

.Chinaheader_col1,.Chinaheader_col2 {
    height: 100%;
    width: 50%;
    
}

.Chinaheader_col1{
    background-image: url('../images/dchina/china_mk1.png');
    background-size: 100% 100%;
}


.Chinaheader_col2{
    background-image: url('../images/dchina/china_mk2.png');
    background-size: 100% 100%;
}

.fangkuai{
    width: 100%;
    height: 8%;
    margin: 0 auto;
    padding-left: 47%;
}

.Chinaheader_col3, .Chinaheader_col4, .Chinaheader_col5,.Chinaheader_col6{
    height: 100%;
    width: 25%;
}

.Chinaheader_col3{
    background-image: url('../images/dchina/china_mk3.png');
    background-size: 100% 100%;
}

.Chinaheader_col4{
    background-image: url('../images/dchina/china_mk4.png');
    background-size: 100% 100%;
}

.Chinaheader_col5{
    background-image: url('../images/dchina/china_mk5.png');
    background-size: 100% 100%;
}

.Chinaheader_col6{
    background-image: url('../images/dchina/china_mk6.png');
    background-size: 100% 100%;
}

.Digital_video{
    position: absolute;
    margin: 20vh auto;
    height: 50%;
    width: 100%;
}

.Digital_video video{
    width:20vw;
    height:auto ;
    display: inline;  
    box-shadow:#1E90FF 0 0 30px 5px;
}

.Video_row1,.Video_row2{
    height: 50%;
    width: 100%;
}

.Video_row1{
    margin: 0 10vh auto;
}

.Video_row2{
    margin: 0 0 0 25vh;
}

.Video_col1,.Video_col2,.Video_col3,.Video_col4,.Video_col5,.Video_col6{
    height: 100%;
    width: 30%;
    background-size: cover;
	background-repeat:no-repeat;
	background-position: center center;
	cursor: pointer;
}

.Video_col1:hover .video_ct,
.Video_col2:hover .video_ct,
.Video_col3:hover .video_ct,
.Video_col4:hover .video_ct,
.Video_col5:hover .video_ct,
.Video_col6:hover .video_ct{
    opacity: 1;
}

.Video_col1 video:hover{
	-moz-transform:scale(2.6) translate(160px, 49px);
	-webkit-transform:scale(2.6) translate(160px, 49px);
	-o-transform:scale(2.6) translate(160px, 49px);
	-ms-transform:scale(2.6) translate(160px, 49px);
	transform:scale(2.6) translate(160px, 49px);
	z-index:2;
}

.Video_col2 video:hover{
	-moz-transform:scale(2.6) translate(160px, 49px);
	-webkit-transform:scale(2.6) translate(160px, 49px);
	-o-transform:scale(2.6) translate(160px, 49px);
	-ms-transform:scale(2.6) translate(160px, 49px);
	transform:scale(2.6) translate(160px, 49px);
	z-index:2;
}

.Video_col3 video:hover{
	-moz-transform:scale(2.6) translate(160px, 49px);
	-webkit-transform:scale(2.6) translate(160px, 49px);
	-o-transform:scale(2.6) translate(160px, 49px);
	-ms-transform:scale(2.6) translate(160px, 49px);
	transform:scale(2.6) translate(160px, 49px);
	z-index:2;
}

.Video_col4 video:hover{
	-moz-transform:scale(2.6) translate(160px, 49px);
	-webkit-transform:scale(2.6) translate(160px, 49px);
	-o-transform:scale(2.6) translate(160px, 49px);
	-ms-transform:scale(2.6) translate(160px, 49px);
	transform:scale(2.6) translate(160px, 49px);
	z-index:2;
}

.Video_col5 video:hover{
	-moz-transform:scale(2.6) translate(160px, 49px);
	-webkit-transform:scale(2.6) translate(160px, 49px);
	-o-transform:scale(2.6) translate(160px, 49px);
	-ms-transform:scale(2.6) translate(160px, 49px);
	transform:scale(2.6) translate(160px, 49px);
	z-index:2;
}

.Video_col6 video:hover{
	-moz-transform:scale(2.6) translate(160px, 49px);
	-webkit-transform:scale(2.6) translate(160px, 49px);
	-o-transform:scale(2.6) translate(160px, 49px);
	-ms-transform:scale(2.6) translate(160px, 49px);
	transform:scale(2.6) translate(160px, 49px);
	z-index:2;
}


